﻿@model StreetFighter.Web.Models.FichaTecnicaModel
@{
    ViewBag.Title = "Ficha Técnica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="texto">
    <h1>Blanka</h1>
    <span id="imagem">
        <img src="~/Content/images/blanka.png">
    </span>
    <span id="descricao">
        <strong>Primeira aparição:</strong> @(Model.PrimeiraAparicao).
        <br>
        <strong>Nascimento:</strong> @(Model.Nascimento.ToLongDateString()).
        <br>
        <strong>Altura:</strong> @(Model.Altura)cm.
        <br>
        <strong>Peso:</strong> @(Model.Peso)kg.
        <br>
        <strong>Medidas:</strong> @(Model.Medidas).
        <br>
        <strong>Tipo sanguíneo:</strong> @(Model.TipoSanguineo).
        <br>
        <strong>Habilidades especiais:</strong> @(Model.HabilidadesEspeciais).
        <br>
        <strong>Gosta:</strong> @(Model.Gosta).
        <br>
        <strong>Desgosta:</strong> @(Model.Desgosta).
        <br>
        <strong>Estilo de luta:</strong> @(Model.EstiloDeLuta).
        <br>
        <strong>Origem:</strong> @(Model.Origem).
        <br>
        <strong>Uma fala de vitória:</strong> @(Model.UmaFalaDeVitoria).
        <br>
        <strong>SSF2 nickname:</strong> @(Model.SSF2Nickname).
        <br>
        <strong>SFA3 nickname:</strong> @(Model.SFA3Nickname).
        <br>
        <strong>SF4 nickname:</strong> @(Model.SF4Nickname).
        <br>
        <strong>SFA3 stage:</strong> @(Model.SFA3Stage).
        <br>
        <strong>SF2 stage:</strong> @(Model.SF2Stage).
        <br>
        <strong>Golpes especiais famosos:</strong> @(Model.GolpesEspeciais).
    </span>
</div>

