﻿@model StreetFighter.Web.Models.FichaTecnicaModel
@{
    ViewBag.Title = "Ficha Técnica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="texto">
    <h1>@Model.Nome</h1>
    <span id="imagem">
        <img src="~/Content/images/@(Model.Imagem)">
    </span>
    <span id="descricao">
        <strong>Nascimento:</strong> @(Model.DataNascimento.ToLongDateString()).
        <br>
        <strong>Altura:</strong> @(Model.Altura)cm.
        <br>
        <strong>Peso:</strong> @(Model.Peso)kg.
        <br>
        <strong>Origem:</strong> @(Model.Origem).
        <br>
        <strong>Golpes especiais famosos:</strong> @(Model.GolpesEspeciais).
        <br>
        <strong>Personagem oculto:</strong> @(Model.PersonagemOculto).
    </span>
</div>

