﻿@model StreetFighter.Web.Models.SobreModel
@{
    ViewBag.Title = "Sobre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="texto">
    <span id="imagem">
        <img src="~/Content/images/eu.jpg">
    </span>
    <span id="descricao">
        <h1>Régis Martiny</h1>
        <strong>Primeira aparição:</strong> @(Model.PrimeiraAparicao).
        <br>
        <strong>Nascimento:</strong> @(Model.Nascimento.ToLongDateString()).
        <br>
        <strong>Altura:</strong> @(Model.Altura)cm.
        <br>
        <strong>Peso:</strong> @(Model.Peso)kg.
        <br>
        <strong>Tipo sanguíneo:</strong> @(Model.TipoSanguineo).
        <br>
        <strong>Local de origem:</strong> @(Model.LocalDeOrigem).
    </span>
</div>

